.changePassword {
    width: 100%;
    display: flex;
    flex-direction: column;
    @include vwUnit("gap", 24);
    @include vwUnit("padding-bottom", 48);

    &__title-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__title {
        font-family: "PT Serif";
        font-weight: normal;
        @include vwUnit("font-size", 36);
        margin: 0;
        padding: 0;
    }
}
