.skeletonWrapper {
    position: relative;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 200%;
        height: 100%;
        // background-color: red;
        background: linear-gradient(
            90deg,
            #f7f7f7,
            #f0f0f0,
            #f7f7f7,
            #f0f0f0,
            #f7f7f7
        );
        animation-duration: 1s;
        animation-name: "shimmer";
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-delay: 0s;
        animation-play-state: running;
    }
}

@keyframes shimmer {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%);
    }
}
