.sidemenu {
    @include vwUnit("max-width", 300);
    width: 100%;
    border: 1px solid rgba($primary, 0.2);
    @include vwUnit("padding", 24);
    @include vwUnit("border-radius", 8);

    &__heading {
        @include vwUnit("letter-spacing", 2);
        @include vwUnit("padding-bottom", 24);
        color: rgba($primary, 0.7);
        font-weight: 700;
        border-bottom: 1px solid rgba($primary, 0.1);
    }
    &__action {
        @include vwUnit("padding-top", 24);
        border-top: 1px solid rgba($primary, 0.1);
    }
    &__items-wrapper {
        list-style: none;
        padding-left: 0;

        & > a {
            text-decoration: none;
            color: $primary;

            &:hover {
                color: rgba($primary, 0.5);
            }

            & > li {
                @include vwUnit("padding-top", 12);
                @include vwUnit("padding-bottom", 12);
                display: flex;
                align-items: center;
                @include vwUnit("gap", 8);
            }
        }
    }
}
